body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner {

     display: flex;

}

.half-container {

     width: 100%;
     margin: 40px 80px;

}

.half-container img {
     width: 80%;

}

.name-color {
     color: crimson;
}

.button-style {
     text-decoration: none;
     color: white;
     background-color: firebrick;
     padding: 10px 30px;
     border-radius: 5px;

}